ul.checkmark {
    list-style-type:none;
}
ul.checkmark li:before {
    content:"\2713\0020";
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

b, strong {
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    color: #8FC73E;
    font-weight: 100;
}
.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus{
	    font-size: 11px;
}